<!DOCTYPE html>
<html lang="en">
<head>
    <title>Microsoft Teams Hello World Sample App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    @Styles.Render("~/Content/msteams-16.css")
    @Styles.Render("~/Content/Site.css?t=" + DateTime.Now.Ticks.ToString())
    @Scripts.Render("https://statics.teams.microsoft.com/sdk/v1.5.2/js/MicrosoftTeams.min.js")
    @Scripts.Render("~/Scripts/teamsapp.js?t=" + DateTime.Now.Ticks.ToString())
    @RenderSection("scripts", required: false)
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
</head>
<body class="theme-light">
    <div class="surface">
        <div class="panel">
            @RenderBody()
        </div>
    </div>
</body>
</html>
